<?xml version="1.0" ?>
<robot name="vegabot" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- Load Simulated or Real Hardware Interfaces -->
    <xacro:arg name="is_sim" default="true"/>

    <xacro:include filename="$(find vegabot_description)/urdf/vegabot_base.xacro" />
    <xacro:include filename="$(find vegabot_description)/urdf/vegabot_sensors.xacro"/>
    <xacro:include filename="$(find vegabot_description)/urdf/vegabot_gazebo.xacro"/>
    <xacro:include filename="$(find vegabot_description)/urdf/vegabot_ros2control.xacro"/>
    
</robot>
